.app {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app .data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.app .data-container > * {
  margin: 5px;
}
